*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Noto Sans TC', sans-serif;
  color:white;


  list-style-type: none;

}


body{

  background: black;
  height:100vh;
}


.m10{

  margin-left: 10px;
  margin-right: 10px;
}

.navbar{

  width: 100vw;
  height: 70px;
  line-height: 70px;

  display: table;
  content:"";
  clear: both;

  background-color: black;
  font-size: 13px;
}

.navbar > *{

  display: flex;
}

.left-nav {

  float: left;
  width: 60%;
}

.left-nav > *{

  margin-left: 10px;
  margin-right: 10px;
}

.logo{

  display: flex;
  align-items: center;
}

.logo > #logo{

  width:92px;
  margin-left: 30px;
}

.list{

  width: 350px;
  display: flex;
  justify-content: space-between;
}

.list > *:hover{

  cursor:pointer;
  color: lightgrey;
}

.right-nav {

  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}

.right-nav > *:hover{

  cursor:pointer;
  color: lightgrey;
}

#film-input{

  height:30px;
  cursor: text;
  color:black;
  display: none;
}


.profile{

  display: flex;
  align-items: center;
  color: white;
}

.title-film{

  font-weight: bold;
  color: #DA1721;
  margin-bottom: 10px;
}


.content{

  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);

}


.logo-main > #logo{

  width: 700px;
}

.logo-main > #logo:hover{

  cursor:pointer;
}

.movie-container{

  width:100vw;
  color: white;
  display: flex;
  flex-wrap: wrap;
  background: black;
  padding: 20px;
}


.movie{

  position:relative;
  float:left;
  width:30%;
  text-align: center;
  padding:20px;

}

.overlay{

  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  position:absolute;
  font-weight: bold;
  font-size:20px;
  z-index: 100;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.lang{

  text-transform: uppercase;
}


.img{

  height:500px;
  position: relative;
}
.imgSrc{

  height:100%;
}

.overview{

  text-align: justify;
}

.hidden{

  display: none;
}
